@using TestSinaviOtomasyon.Service;
@using TestSinaviOtomasyon.Common.DataTransferObjects;

@{
    Layout = null;
    ServiceCode servis = new ServiceCode();
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="~/Content/ProjectContent/Sinav.css" rel="stylesheet" />
</head>

<body>
    <div style="width:100%;background-color:green;height:100px">
        <img src="~/image/images1.png" style="margin-left:auto;margin-right:auto;float:left;height:100px;" />
        @foreach (var item in servis.KullaniciListele())
        {
            if (Globals.Globals.ogretim_id == item.kullanici_id)
            {
                <h1 style="margin-left:auto;margin-right:auto;margin-top:50px;padding:30px;">KOCAELİ ÜNİVERSİTESİ - ÖĞRETİM ÜYESİ - @item.kullanici_ad @item.kullanici_soyadi</h1>
            }
        }
    </div>
    <div id="formsinav" class="container">
        <div class="row">
            <br /><br />
            <h3 id="h3ekle" style="margin-left:46%;">TEST SINAVI OKU</h3>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                @using (Html.BeginForm("OgretimUyesiSinav", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <form id="formsinav" method="post">

                        <div class="form-group">
                            <label for="dersatama_id">Ders - Bölüm</label>
                            <select style="height:100%!important" class="form-control" id="dersatama_id" name="dersatama_id" required>
                                @{
                                    foreach (var item in servis.DersAtamaListele())
                                    {
                                        if (item.kullanici_ad == Globals.Globals.id)
                                        {
                                            <option value="@item.dersatama_id">@item.ders_adi - @item.bolum_adi</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="sinavturu">Sınav Türü</label>
                            <select id="sinav_turu" name="sinav_turu" style="height:100%!important" class="form-control" required>
                                <option value="vize">vize</option>
                                <option value="final">final</option>
                                <option value="bütünleme">bütünleme</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="cevapanahtari">Cevap Anahtarı</label>
                            <input type="file" class="form-control" id="cevapanahtari" name="cevapanahtari" required />
                        </div>

                        <div class="form-group">
                            <label for="sinavsonuclari">Sınav Sonuçları</label>
                            <input type="file" class="form-control" id="sinavsonuclari" name="sinavsonuclari" required />
                        </div>
                        <div class="form-check">
                            <button type="submit" class="btn btn-primary" style="width:100%;background-color:green">Sınavı Oku</button>
                        </div>
                        <br />

                    </form>
                }
                <div class="form-check">
                    <a href="/Home/OgretimUyesiSayfa"><button type="submit" class="btn btn-danger" style="width:100%;">GERİ</button></a>
                </div>
            </div>

        </div>
    </div>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }
    <script src="~/Scripts/ProjectScripts/sinav.js"></script>
    <script src="http://code.jquery.com/color/jquery.color-2.1.2.min.js" integrity="sha256-H28SdxWrZ387Ldn0qogCzFiUDDxfPiNIyJX7BECQkDE=" crossorigin="anonymous"></script>
</body>
</html>


